{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-4">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.title, {label: 'Article title'}) }}
            {{ form_row(form.content) }}
            {{ form_row(form.imageFile, {label: 'New title image'}) }}

            {{ form_row(form.submitBtn, {label: 'Update'}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
